/* Display */
/* p{
    display: inline;
}

a{
    display: block;
} */


/* .button-gray{
    padding: 8px;
    border: 1px solid black;
    margin-right: 10px;

    
    font-size: 12px;
    background: gray;
    color: white;
    text-decoration: none;
} */
/* 
.elem-absolute{
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.wrap-relative{
    position: relative;
    border: 1px solid black;
    height: 200px;
} */


/* Ejercicio abeja */
/* .wrap-bosque{
    background-image: url('../img/bosque.avif');
    position: relative;
    height: 300px;
}

.wrap-verde{
    background-color: green;
    height: 300px;
}

img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
} */







/* Floats */
/* .container{
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#header{
    background-color: #caca;
}

#body{
    background-color: tomato;
    width: 600px;
    float: left;
}

#sidebar{
    background-color: aqua;
    width: 200px;
    float: left;
}

#footer{
    background-color: peru;
} */


/* Ejercicio 2 */

.container{
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#header{
    background-color: #caca;
}

.content-children{
    width: 250px;
    background-color: tomato;
    float: left
}

#footer div{
    width: 500px;
    background-color: peru;
    float: left;
}
